<!DOCTYPE html>
<html>
<head>
<link href="./styles/style.css" rel="stylesheet" type="text/css">
<title>AppTrack</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.9/angular.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.9/angular-route.js"></script>
<link href="https://fonts.googleapis.com/css?family=Carme" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.blue_grey-red.min.css" />
<script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
</head>

<body ng-app="AppTracker">
  <header class="mdl-layout__header mdl-layout__header--waterfall">
    <!-- Top row, always visible -->
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span style="font-family: Pacifico" id="title">AppTrak<img src="Assets/Railway.png"/></span>
      <div class="mdl-layout-spacer"></div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                  mdl-textfield--floating-label mdl-textfield--align-right">
        <label class="mdl-button mdl-js-button mdl-button--icon"
               for="waterfall-exp">
          <i class="material-icons">search</i>
        </label>

      </div>
    </div>
    <!-- Bottom row, not visible on scroll -->
    <div class="mdl-layout__header-row">
  </div>
      </div>
    </div>
      </nav>
    </div>
  </header>

  <br>
  <h1 style="font-family: 'Carme', sans-serif;">Create an Account</h1>

  <div style="margin-left: 300px; margin-top: 30px" ng-controller="SignupController" class="mdl-textfield mdl-js-textfield">

    <form>
      <input type="text" class="mdl-textfield__input" placeholder="Username" ng-model="username">
      <input type="password" class="mdl-textfield__input" placeholder="Password" ng-model="password">

      <br><br><br><br>
      <a href="http://localhost:8080/" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-click="submitCredentials();">Submit</a>
    </form>
  </div>


</body>
<script src="app.js"></script>
<script src="signup.js"></script>
<script src="FormController.js"></script>
</html>
