<!DOCTYPE html>
<html>
<head>
<title>AppTrack</title>
<script
  src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js">
</script>
</head>

<body ng-app>
  <input type="date" placeholder="Job Search Start Date" ng-model="startDate">
  <h1>Outreach</h1>
  <input type="text" placeholder="Company Name" ng-model="companyName">
  <input type="text" placeholder="Role" ng-model="role">
  <!-- <input type="text" placeholder="CoverLetter" ng-model="coverLetter"> -->
  <input type="text" placeholder="Job Description" ng-model="jobDescription">
  <input type="text" placeholder="Applied Through" ng-model="appliedThrough">
  <input type="text" placeholder="Contact Name" ng-model="contactName">
  <input type="tel" placeholder="Contact Phone" ng-model="contactPhone">
  <input type="email" placeholder="Contact Email" ng-model="contactEmail">
  <input type="text" placeholder="Contact Type" ng-model="contactType">
  <input type="date" placeholder="Date Applied" ng-model="dateApplied">
  <input type="number" placeholder="LinkedIn Connections" ng-model="linkedinConnections">
  <input type="date" placeholder="Date of Last Direct Contact" ng-model="dateOfLastContact">
  <input type="text" placeholder="Reply Received" ng-model="replyReceived">
  <h1>Stage 1</h1>
  <input type="text" placeholder="Scheduled or Completed?" ng-model="scheduledStatus">
  <input type="date" placeholder="Date Completed" ng-model="interviewCompletedDate">
  <input type="text" placeholder="Primary Interviewer Type" ng-model="interviewerType">
  <input type="date" placeholder="Date of Thank You or Last Follow Up" ng-model="dateOfLastFollowUp">
  <input type="text" placeholder="Reply Received" ng-model="interviewReplyReceived">

  <h1>Offer</h1>
  <input type="number" placeholder="Contract Time (in # of Months)" ng-model="contractTime">
  <input type="number" placeholder="Initial Comp ($)" ng-model="initialComp">
  <input type="text" placeholder="Negotiated?(Y/N)" ng-model="negotiated">
  <input type="number" placeholder="Final Comp ($)" ng-model="finalComp">
  <input type="text" placeholder="Accepted or Rejected?" ng-model="acceptReject">
  <hr>
  <button>Submit</button>
</body>

</html>
















<!-- Joseph’s Magical Angular Todo App
<html>
  <head>
    <title>To-Do</title>
    <script
      src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js">
    </script>
  </head>
  <body ng-app>
    <div class="container" ng-init="todos = []">
      <h1>To-do:</h1>
      <input type="text" placeholder="New Item" ng-model="newTodo">
      <button ng-click="todos.push(newTodo); newTodo = ''">Add</button>
      <br><br>
      <input type="text" placeholder="Search" ng-model="search">
      <ol>
        <li
          ng-repeat="todo in todos | filter:search track by $index"
          ng-click="todos.splice($index, 1)">
          {{ todo }}
        </li>
      </ol>
    </div>
    <hr>
  </body>
</html> -->
