.card {
  width: 700px;
  height: 350px;
  background-color:lightblue;
  font: 10px helvetica, sans-serif;
  margin: 20px 20px 0 50px;
  /*float: left;*/
  display: inline-block;
  line-break: auto;
  padding: 15px;
  font-weight: bold;
}

.search-one {
    margin: 20px 0 0 50px;
    display: inline-block;
}

.add-stage {
  width: 300px;
  height: 175px;
  background-color:lightblue;
  font: 10px helvetica, sans-serif;
  margin: 20px 20px 0 50px;
  float: right;
  display: block;
  padding: 15px;
}

.list-item {
    width: 1250px;

}
