form {
  padding-left: 10%;
  padding-right: 10%;
  max-width:80%;
}

h1 {
   text-align: center;
}

input {
  padding: 30px;
}


#title {
  padding-top: 60px;
  font-size: 500%;
}

#stage {
  float: left;
  padding-left: 20%;
}

#offer {
  float: right;
  padding-right: 20%;
}

#first {
  float: left;
  padding-left: 20%;
}

#second {
  float: right;
  padding-right: 20%;
}

col {
  column-width: 50%;
}

#outreach {
  min-width: 100%;
}

#field {
  padding: 20px;
}

.mdl-textfield__input {
  padding: 15px;
}

.card {
  width: 700px;
  height: 350px;
  background-color:lightblue;
  font: 10px helvetica, sans-serif;
  margin: 20px 20px 0 50px;
  /*float: left;*/
  display: inline-block;
  line-break: auto;
  padding: 15px;
  font-weight: bold;
}

.search-one {
 
    display: inline-block;
}

.add-stage {
  width: 300px;
  height: 200px;
  background-color:lightblue;
  font: 10px helvetica, sans-serif;
  margin: 20px 20px 0 50px;
  float: right;
  display: block;
  padding: 15px;
}

.list-item {
    width: 1250px;

}
